@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    margin-right: 8px;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 10px;
}

#Home {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.ImageRendering {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.tx {
    width: 30px;
    height: 30px;
    text-align: center;
}

.txx {
    margin-right: 5px;
    display: inline-block;
    background-color: skyblue;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 30px;
}